<div class="container">


  <div class="centered">
    <mat-toolbar color="primary">
      <span class="fill-remaining-space">Raider IO example with Angular</span>
    </mat-toolbar>


    <div class="search-container">

      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Enter Characters Name and Region</mat-card-title>
        </mat-card-header>
          
          <mat-card-content>
          <mat-form-field class="form-element formInput" appearance="outline">
            <mat-label>Character Name </mat-label>
            <input matInput type="text" id="characterName">
          </mat-form-field>

          <mat-form-field class="form-element formInput" appearance="outline">
            <mat-label>Region </mat-label>
            <input matInput type="text" id="Region">
          </mat-form-field>

          <div class="form-element formInput">
            <button mat-button matSuffix mat-raised-button color="primary" type="submit" class="button" >Submit Form</button>
          </div>

        </mat-card-content>

      </mat-card>

    </div>

  </div> 

</div>